target/
dependency-reduced-pom.xml
.antlr/CSimplificadoParser.java
.antlr/CSimplificadoLexer.tokens
.antlr/CSimplificadoLexer.java
.antlr/CSimplificadoLexer.interp
*.tokens
*.interp
*.png
*.svg
/src/main/antlr4/.antlr
